{% load static %}

<html lang="en">
<head>
    <title>Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">

</head>
<body >

{##}
{#<nav class="navbar navbar-expand navbar-dark bg-dark static-top">#}
{##}
{#    <a class="navbar-brand mr-1" href="{% url 'available:index' %}">FALCONS</a>#}
{##}
{#    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">#}
{#        <i class="fas fa-bars"></i>#}
{#    </button>#}
{##}
{#    <!-- Navbar -->#}
{#    <div class="collapse navbar-collapse" id="navbarResponsive">#}
{#        <ul class="navbar-nav ml-auto">#}
{#            <li class="nav-item">#}
{#                {% if request.user.is_captain %}#}
{#                    <a class="nav-link text-capitalize">{{ request.user.captain.name }}</a>#}
{#                {% elif request.user.is_player %}#}
{#                    <a class="nav-link text-capitalize">{{ request.user.player.name }}</a>#}
{#                {% endif %}#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{##}
{#</nav>#}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-static-top" role="navigation">
                <div class="container full-width">
                    <div class="navbar-header">
                      {% comment %}  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>{% endcomment %}
                        <a class="navbar-brand" href="#">Downtime Tracker</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% if user.is_authenticated %}
                            {% if user.is_employee %}
                                <ul class="navbar-nav">
                                    <li class ="nav-item">
                                        <a class="nav-link "  href="{% url 'downtimeApp:employee_home' %}">Home</a>
                                    </li>
                                    <li class ="nav-item">
                                        <a class="nav-link " href="{% url 'downtimeApp:downtime_list' %}">Downtime</a>
                                    </li>
{#                                <li class ="nav-item">#}
{#                                    <a class="nav-link text-capitalize" data-toggle="modal" data-target="#logoutModal" href="{% url 'logout' %}" >Logout</a>#}
{#                                </li>#}
{#                                       href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a>#}
                                </ul>
                            {%endif %}
                        {%endif %}
                        {% if user.is_authenticated %}
                            {% if user.is_supervisor %}
                                <ul class="navbar-nav ml-auto">
                                    <li class ="nav-item">
                                        <a class="nav-link" href="{% url 'downtimeApp:supervisor_home' %}">Home</a>
                                    </li>
                                    <li class ="nav-item">
                                        <a class="nav-link" href="{% url 'downtimeApp:machine_list' %}">Machine</a>
                                    </li>
                                </ul>
                            {%endif %}
                        {%endif %}
                        <ul class= "navbar-nav mr-auto">
                            {% if user.is_authenticated %}
{#                                <li class="dropdown">#}
                                    {% comment %}<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <span class="caret"></span>
                                    </a>{% endcomment %}
                                    <ul class = "navbar-nav ml-5" >
{#                                          class="dropdown-menu" role="menu"#}
                                        <li class ="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                                    </ul>
{#                                </li>#}
                            {% else %}
                                <li class ="nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/downtime.png" %}" alt="home"/>
                                <div class="caption">
                                    <h2>DownTime</h2>
                                    <p>Real World Companion for tracking the Downtime of the machines</p>
                                    {% if user.is_authenticated %}
                                        <p><a class="btn btn-default" href="{% url 'downtimeApp:downtime_list' %}"
                                              role="button">View
                                            details &raquo;</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>