{% extends 'downtimeApp/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-container">

            <h2 class="top-menu">Hello {{ user.username }},</h2>
            <p>Welcome to the Downtime eLog Application</p>

        </div>
    {% endif %}
    <div class="content container">
        <div class="row">
            <div class="col-md-15">
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="thumbnail">
                                <img src="{% static "images/downtime.png" %}" alt="Downtime"/>
                                <div class="caption">
                                    <h2>Downtimes</h2>
                                    <p>you could view the Downtime Details </p>
                                    <p><a class="btn btn-primary" href="{% url 'downtimeApp:downtime_list' %}"
                                          role="button">Downtime Log &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="thumbnail">
                                <img src="{% static "images/machine.png" %}" alt="Machines"/>
                                <div class="caption">
                                    <h2>Machines</h2>
                                    <p>You could view the Machine Information</p>
                                    <p><a class="btn btn-primary" href="{% url 'downtimeApp:machine_list' %}"
                                          role="button">Machine Info&raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
