{% extends 'downtimeApp/base.html' %}
{% block content %}
    {% load mathfilters %}
    {% load humanize %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Downtime Tracker - eTracking of the downtime!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 style="height: 75px; padding-left: 15px">Machine's Downtime Summary</h1>
    </div>


    <div class="row">
        <h2 style="padding-left: 15Px">List of Downtimes</h2>
    </div>
    <div class="row">
        <table class="table table-dark table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Machine</th>
                <th>DowntimeID</th>
                <th>Stoppage Date</th>
                <th>Stoppage Reason</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>StoppageHours</th>
            </tr>
            </thead>
            <tbody>
            {% for downtime in downtimes %}
                <tr>
                    <td>{{ downtime.machine }}</td>
                    <td>{{ downtime.id }}</td>
                    <td>{{ downtime.date }}</td>
                    <td>{{ downtime.stoppage }}</td>
                    <td>{{ downtime.startTime }}</td>
                    <td>{{ downtime.endTime }}</td>
                    <td>{{ downtime.stoppageHours|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <table class="table table dark table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Total Downtime Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ sum_stoppageHours.stoppageHours__sum| intcomma }}</td>

        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}