{% extends 'downtimeApp/base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-container">

            <h2 class="top-menu">Hello {{ user.username }},</h2>
            <p>Downtime Tracker App makes your life Easy!!</p>

        </div>
    {% endif %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumbnail">
                                <img src="{% static "images/machine.png" %}" alt="machine"/>
                                <div class="caption">
                                    <h2>Machines</h2>
                                    <p>Click below to view the Machine info</p>
                                    {% if user.is_authenticated %}
                                        <p><a class="btn btn-primary" href="{% url 'downtimeApp:machine_list' %}"
                                              role="button">Machine Info&raquo;</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
